* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
}

window#waybar {
    background: rgba(30, 30, 30, 0.85);
    color: #ebebeb;
    border-radius: 12px;
    padding: 0 4px;
}

#workspaces button {
    padding: 0 8px;
    color: #cdd6f4;
}

#workspaces button.active {
    background: #89b4fa;
    color: #1e1e2e;
    border-radius: 8px;
}

#clock, #battery, #network, #pulseaudio {
    padding: 0 10px;
    color: #cdd6f4;
}

#custom-nft {
    font-family: "JetBrainsMono Nerd Font", "Symbols Nerd Font";
    font-size: 16px;
    min-width: 24px;
    padding: 0 8px;
}

#custom-nft.active {
    color: #a6e3a1;  /* verde */
}

#custom-nft.inactive {
    color: #f38ba8;  /* rosso */
}
