* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
}

window#waybar {
    background: rgba(30, 30, 30, 0.85);
    color: #ebebeb;
    border-radius: 12px;
}

#workspaces button {
    padding: 0 8px;
    color: #cdd6f4;
}

#workspaces button.active {
    background: #89b4fa;
    color: #1e1e2e;
    border-radius: 8px;
}

#clock, #battery, #network, #pulseaudio {
    padding: 0 10px;
    color: #cdd6f4;
}

#custom-firewall {
    padding: 0 10px;
    font-size: 16px;
}

#custom-firewall.active {
    color: #f9e2af;  /* giallo Catppuccin */
}

#custom-firewall.inactive {
    color: #f38ba8;  /* rosso */
}
